html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.tocologo {
    width: 15%;
    padding-top: 250px;
}


/* Header */

.navbar {
    padding: 3% 15% 7%;
    color: white;
}

.navbar-brand:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.nav-link:hover {
    transition: 1s;
    color: white;
}

.nav-item {
    padding: 0px 20px;
    font-size: 1rem;
}

.navbar-brand {
    font-size: 2rem;
}


/* carousel */

.carousel-inner {
    height: 800px;
}

.container {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 150px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 300px;
    padding-right: 20px;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#event {
    background-image: url("https://wallpaperplay.com/walls/full/a/0/9/316335.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    background-image: url("https://wallpaperplay.com/walls/full/a/0/9/316335.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer {
    text-align: center;
    background-color: black;
    padding: 5% 5%
}

.social-icon {
    margin: 20px 10px;
    color: tomato;
}

.social-icon:hover {
    color: blue;
    transition: 0.5s;
}

.footertxt {
    color: white;
}


/* DJ's */
